{% extends 'Customer/Customer-base.html' %}
{% block content %}
<section class="section dashboard">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <!-- transaction details -->
        <div class="col-xxl-4 col-md-8">
            <div class="card info-card">
                <div class="card-body">
                    <h5 class="card-title text-center">Order Information</h5>
                   
                      <table class="table table-border">
                        <thead>
                          <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Sub Price</th>
                          </tr>
                        </thead>
                        <tbody>
                      
                            {% for row in data %}
                          <tr>
                            {% for cell in row %}
                            <td>{{ cell }}</td> 
                            {% endfor %}
                          </tr>
                          {% endfor %}
                          <tr>
                                <th scope="col">Total Quantity</th>
                                <th scope="col"> -------- </th>
                                <th scope="col">{{ total_quantity }}</th>
                                <th scope="col"> -------- </th>
                          </tr>
                        </tbody>
                      </table>
                  </div>
            </div>
        </div>
        
            <div class="col-xxl-4 col-md-4">  
                <div class="card info-card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Payment Information</h5>
                        <hr class="mb-4">
                    <div>
                        <span class="card-title">Tx Reference: </span>
                        <span class="text-muted">{{ transaction.tx_ref|default:transaction.TransactionCode }}</span>
                    </div>
                    <div>
                        <span class="card-title">Payment Provider: </span>
                        <span class="text-muted">Chapa</span>
                    </div>
                    <div>
                        <span class="card-title">Total Paid: </span>
                        <strong class="text-muted">{{ transaction.Total_Amount }} ETB</strong>
                    </div>
                    <div>
                        <span class="card-title">Payment Status: </span>
                        <span class="text-muted fw-bold {% if transaction.Paid_status == 'Paid' %}text-success{% else %}text-warning{% endif %}">{{ transaction.Paid_status }}</span>
                    </div>
                    </div>        
                </div>
            </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}