{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BGI Ethiopia</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- sweet alert -->
  <link  href="node_modules//sweetalert/dist/sweetalert.min.js" rel="stylesheet">
  <!-- Favicons -->
  <link href="{% static 'assets/img/logo2.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.cs' %}s" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

 
</head>

<body>


  <!-- ====== Main -->

    
    <section class="section dashboard">
        <div class="row">
          <div class="container col-lg-12 m-5 p-5">
            <div class="row">
                  <div class="col-xxl-8 col-md-8">  
                      <div class="card info-card">
                          <div class="card-body">
                              <h5 class="card-title text-center">Thank you!</h5>
                              <p class="text-center">You have successfully completed your payment</p>
                          <div>
                              <hr class="mb-4"> 
                                <span class="card-title">Buyer Id: </span>
                                <span id="order_id" class="text-muted">{{BuyerId}}</span>
                          </div>
                          <div>
                            
                              <span class="card-title">Transaction Code: </span>
                              <span id="order_id" class="text-muted">{{TransactionCode}}</span>
                          </div>
                          <div>
                              <span id="store" class="card-title">Merchant Code:</span>
                              <span id="store" class="text-muted">{{MerchantCode}}</span>
                          </div>
                          
                         
                          <div>
                              <span class="card-title">Total Paid </span>
                              <strong id="total_paid" class="text-muted">{{total}} {{Currency}}</strong>
                          </div>
                          <div>
                              <span class="card-title">Paid status: </span>
                              <span id="approval_status" class="text-muted">{{status}}</span>
                          </div>
                          <div>
                       
                            <span class="card-title">Payment through: </span>
                            <span id="payment_type" class="text-muted">YenePay</span>
                        </div>
                          <div class="text-end">
                            <a href="{% url 'customer_transactions' %}" class="btn btn-primary btn-block">Exit</a>
                        </div>
                          </div>  
                      </div>
                  </div>
             
              <!-- End transaction details -->
          
            </div>
          </div>
      
        </div>
      </section>

  

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

  <script>
    function addCustomer()
    {
      swal("Customer successfully added!", " ", "success");
    }
  </script>

<script src="sweetalert.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="node_modules/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>