{% extends 'Account/Account-base.html' %}

{% load static %}

{% block content %}
<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
  <div class="container">
    
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 d-flex flex-column align-items-center justify-content-center">
        <div class="card mb-7">

            <div class="card-body shadow-lg">
                <div class="d-flex justify-content-center py-4">
                  <a href="{% url 'login' %}" class="logo d-flex align-items-center w-auto">
                    <img src="{% static 'assets/img/logo3.png' %}" alt="">
                  </a>
                </div><!-- End Logo -->


<h3>Password Reset</h3>

<div><p></p> Enter your email address below</p></div>

<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="Submit" name="send email">
<a style="text-decoration:underline ;" href="{% url 'login' %}">Login</a>
</form>

 </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}