{% extends 'Agent/agent-dashboard.html' %}
{% block dashboard %}
<div class="card-body pb-0">
    <h5 class="card-title">My Customer</h5>
      <h6>
    <table class="table table datatable">
      <thead>
        <tr>
          <th scope="col">Preview</th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Sold</th>
          <th scope="col">Revenue</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><a href="#"><img src="assets/img/sanjaw.jpeg" alt=""></a></th>
          <td><a href="#" class="text-primary fw-bold">St. George</a></td>
          <td>240 birr</td>
          <td class="fw-bold">112</td>
          <td>11,147 birr</td>
        </tr>
        <tr>
          <th scope="row"><a href="#"><img src="assets/img/Sen'q.jpeg" alt=""></a></th>
          <td><a href="#" class="text-primary fw-bold">Sen'q malt</a></td>
          <td>195 birr</td>
          <td class="fw-bold">98</td>
          <td>8,508 birr</td>
        </tr>
        <tr>
          <th scope="row"><a href="#"><img src="assets/img/Doppel.jpeg" alt=""></a></th>
          <td><a href="#" class="text-primary fw-bold">Doppel</a></td>
          <td>201 birr</td>
          <td class="fw-bold">74</td>
          <td>9,366 birr</td>
        </tr>
        <tr>
          <th scope="row"><a href="#"><img src="assets/img/castlebeer.jpg" alt=""></a></th>
          <td><a href="#" class="text-primary fw-bold">Castle beer</a></td>
          <td>213 birr</td>
          <td class="fw-bold">63</td>
          <td>9,016 birr</td>
        </tr>
        <tr>
          <th scope="row"><a href="#"><img src="assets/img/crates.jpg" alt=""></a></th>
          <td><a href="#" class="text-primary fw-bold">old creates</a></td>
          <td>50 birr</td>
          <td class="fw-bold">41</td>
          <td>3,239 birr</td>
        </tr>
      </tbody>
    </table>
  </h6>
  </div>
{% endblock dashboard %}