{% extends 'Company/store_manager/store_base.html' %}
{% load static %}
{% block content %}
<main class="mt-5 pt-4">
  <div class="container">
    <section class="section dashboard">
      <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <div class="card info-card customers-card">
              <h5 class="card-title">Set schedule for loading</h5>
              <table class="table table-border datatable" id="available">
                <thead>
                  <thead>
                    <tr>
                      <th scope="col">#</th>

                      <th scope="col">Date</th>
                      <th scope="col">Agent</th>
                      <th scope="col">Order Code</th>
                      <th scope="col">Total paid</th>
                      <th scope="col">Approval Status</th>
                      <th scope="col">Check Slip</th>
                      <th scope="col">Schedule</th>
                      <th scope="col">Allow Load</th>
                    </tr>
                    </tr>
                  </thead>
                <tbody>
                  {% for transaction in all_tranaction %}
                  {% if transaction.Agent_order_id.status == 'Approved' %}
                  <tr>
                    <th>{{transaction.id}}</th>
                    <td>{{transaction.date_created}}</td>
                    <td>{{transaction.Agent_order_id.Agent}}</td>
                    <td>{{transaction.TransactionCode}}</td>
                    <td>{{transaction.Total_Amount}}</td>
                    <td><span class="badge bg-success">Approved</span></td>
                    <td><a href="{% url 'stor_check_slip_view' transaction.id %}" type="button"
                        class="btn btn-primary"><i class="bi bi-eye"></i></a></td>
                    {% if transaction.scheduled_for and transaction.scheduled_to %}
                    <td> {{transaction.scheduled_for|date:"d-m-Y"}} - {{transaction.scheduled_to|date:"d-m-Y"}}</td>
                    <td><a href="{% url 'allow_load' transaction.id %}" type="button" class="btn btn-success"><i
                          class="bi bi-check-circle"></i></a></td>
                    {% else %}
                    <td><span class="badge bg-warning">Unscheduled</span></td>
                    <td><button href="{% url 'allow_load' transaction.id %}" type="button" disabled
                        class="btn btn-success"><i class="bi bi-check-circle"></i></button></td>
                    {% endif %}

                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div><!-- End Recent Activity -->
  </div><!-- End Right side columns -->

  </div>
  </section>
  </div>
</main><!-- End #main -->
{% endblock %}